<div class="row alert alert-block">
<br/>
<h4><%= @athlete.name || @athlete.email %></h4>
<br/>
<p>link: <%= @athlete.link_address %></p>
<p>username: <%= @athlete.link_username %></p>
<p>password: <%= @athlete.link_password %></p>
</div>
