<div id='calendar'></div>
<br/>
<a class="btn btn-success pull-right" href="#"><i class="icon-file icon-white"></i>Export as PDF</a>

<a class="btn btn-success pull-right" href="#"><i class="icon-calendar icon-white"></i>Export to Calendar</a>
