<div id='calendar'></div>
<%= render 'calform' %>
<%= render 'pdfform' %>
<br/>
<%= link_to '', "data-toggle" => "modal", "data-target" => "#pdfModal", :class => "btn btn-warning pull-right" do %><i class="icon-calendar icon-white"></i>Export as PDF<% end %>
<%= link_to '', "data-toggle" => "modal", "data-target" => "#calModal", :class => "btn btn-warning pull-right" do %><i class="icon-calendar icon-white"></i>Export to Calendar<% end %>

