<% provide(:title, 'Attachment') %>
<div class="alert alert-block">
<% if @attachment.blank? %>
<p>The user has no current attachments <p>
<% else %>
<table class="table">
	<thead>
		<tr>
			<td>Filename</td>
			<td></td>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td><%= link_to @attachment.title, @attachment.file.url %></td>
			<td><%= link_to [@athlete,@attachment] , :confirm => "Do you want to remove this attachment from your athlete?", :method => :delete do %>
				<i class="icon-remove"></i>
				<% end %>
			</td>
		</tr>	
	</tbody>	
</table>
<% end %>
<%= link_to "Upload new attachment", new_athlete_attachment_path(@athlete) %>
</div>
