<% provide(:title, 'Welcome') %>
<div class="row alert alert-block">
	<div class="page-header">
	  <h1>Welcome to AimHigh<small> <br/>A simple communication platform for coaches and athletes</small></h1>
	</div>
			<div class="action">
				<%= link_to "Admin Login", new_admin_session_path, :class => "btn btn-primary btn-large"  %>
				<%= link_to "Athlete Login", new_athlete_session_path, :class => "btn btn-warning btn-large"  %> 
        <br/>
        <br/>
        <small><%= link_to 'Link to the old site', 'http://login.aimhigh.dk/dk/' %> </small>
			</div>
			<br/>
</div>	
