<% provide(:title, 'Documents') %>
<div class="row alert alert-block">
	<h4><%= @athlete.name || @athlete.email %></h4><br/>
<% if @documents.empty? %>
<p>The user has no current tests <p>
<% else %>
<table class="table ">
	<thead>
		<tr>
			<td>Filename</td>
		</tr>
	</thead>
	<tbody>
	<% @documents.each do |document| %>
		<tr>
			<td><%= link_to document.file.path.split("/").last, document.file.url %></td>
		</tr>
	<% end %>	
	</tbody>	
</table>
<% end %>
</div>
