/* fullcalendar and overrides are css files not compiled
   the rest are scss bootstrap stuff 
   ps I am awesome */

@import "fullcalendar"; 
@import "bootstrap";
@import "overrides";

body {
	margin-top: 40px;
	#text-align: center;
	font-size: 14px;
	font-family: "Lucida Grande",Helvetica,Arial,Verdana,sans-serif;
}

#calendar {
	width: 900px;
	margin: 0 auto;
}

.right-puls {
    text-align: right;
    float: right;
}

.clear {
    clear:both;
}

